.cart-icon {
    text-decoration: none;
    color: #f0f0f0;
}

.cart-icon__wrapper {
    position: relative;
    display: inline-block;
}

.cart-icon__symbol {
    font-size: 1.4rem;
}

.cart-icon__badge {
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    font-size: 0.7rem;
    background: #dc3545;
    color: white;
    padding: 0.1rem 0.5rem;
    border-radius: 45%;
}