@{
    ViewData["Title"] = "Home Page";
}

<section class="home">

    <div class="home__content">

        <h1 class="home__title">
            Welcome to TechStore
        </h1>

        <p class="home__subtitle">
            Your online shop for the latest laptops, smartphones, accessories and more!
        </p>

        <a href="/Category/Index"
           class="home__btn">
            Browse products
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>

</section>

@section Styles {
    <link rel="stylesheet" href="~/css/Home/index.css" />
}