@{
    ViewData["Title"] = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <i class="bi bi-person-lock display-1 text-warning"></i>
    <h1 class="display-4 mt-3">401 - Unauthorized</h1>
    <p class="lead">You must be logged in to access this page.</p>
    <p>Please log in with a valid account to continue.</p>
    <a href="/Identity/Account/Login" class="btn btn-outline-warning mt-3">
        <i class="bi bi-box-arrow-in-right"></i> Go to Login
    </a>
</div>
