@using TechStore.Web.ViewModels.Product
@model IEnumerable<AddProductCategoryDropDownModel>

<div class="category-dropdown" id="categoryDropdown">

    <button class="category-dropdown__toggle"
            id="categoryToggle"
            aria-expanded="false">

        Categories
        <i class="bi bi-chevron-down"></i>
    </button>

    <ul class="category-dropdown__menu">

        @foreach (var category in Model)
        {
            <li class="category-dropdown__item">

                <a class="category-dropdown__link"
                   asp-area=""
                   asp-controller="Product"
                   asp-action="IndexByCategory"
                   asp-route-categoryId="@category.Id">
                    @category.Name
                </a>
            </li>
        }
    </ul>
</div>
