@using TechStore.Web.ViewModels.Brand
@using TechStore.Web.ViewModels.Common
@model BrandManageListViewModel

@{
    ViewData["Title"] = "Manage Brands";
}

<section class="manage-page">

    <header class="manage-page__header">

        <h2 class="manage-page__title">Manage Brands</h2>

        <a asp-action="Add"
           class="manage-page__add-btn">
            <span>Add brand</span>
        </a>

    </header>

    @{
        var cards = Model.Brands.Select(b => new CardItemViewModel
        {
            Name = b.Name,
            ImageUrl = b.LogoUrl,
            DetailsUrl = Url.Action(
                "Details",
                "Brand",
                new { area = "", id = b.Id })!,

            EditUrl = Url.Action(
                "Edit",
                "ControlPanelBrand",
                new { area = "ControlPanel", brandId = b.Id })!,

            DeleteUrl = Url.Action(
                "Delete",
                "ControlPanelBrand",
                new { area = "ControlPanel", id = b.Id })!,

            ShowName = false
        });
    }

    @await Component.InvokeAsync("CardGrid", cards)
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/ControlPanel/Common/manage.css" />
}