@using TechStore.Web.ViewModels.Category
@using TechStore.Web.ViewModels.Common
@model CategoryManageListViewModel

@{
    ViewData["Title"] = "Manage Categories";
}

<section class="manage-page">

    <header class="manage-page__header">

        <h2 class="manage-page__title">Manage Categories</h2>

        <a asp-action="Add"
           class="manage-page__add-btn">
            <span>Add category</span>
        </a>

    </header>

    @{
        var cards = Model.Categories.Select(c => new CardItemViewModel
        {
            Name = c.Name,
            ImageUrl = c.ImageUrl,
            DetailsUrl = Url.Action(
                "IndexByCategory",
                "Product",
                new { area = "", categoryId = c.Id })!,

            EditUrl = Url.Action(
                "Edit",
                "ControlPanelCategory",
                new { area = "ControlPanel", categoryId = c.Id })!,

            DeleteUrl = Url.Action(
                "Delete",
                "ControlPanelCategory",
                new { area = "ControlPanel", id = c.Id })!,

            ShowName = true
        });
    }

    @await Component.InvokeAsync("CardGrid", cards)
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/ControlPanel/Common/manage.css" />
}