@model int

<a asp-area=""
   asp-controller="Cart"
   asp-action="Index"
   class="cart-icon"
   title="My cart">

    <span class="cart-icon__wrapper">

        <i class="bi bi-cart cart-icon__symbol"></i>

        @if (Model > 0)
        {
            <span class="cart-icon__badge">
                @Model
            </span>
        }
    </span>
</a>