html {
    font-size: 16px;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.text-purple { /* Control Panel custom color */
    color: #6f42c1;
}

.btn-purple { /* Control Panel custom color */
    background-color: #6f42c1;
    border-color: #6f42c1;
    color: #fff;
    font-weight: 700;
}